<footer class="container-fluid py-5 text-white">
    <div class="container">
        <div class="row g-4">
            <!-- Social Media and Payments -->
            <div class="col-lg-6">
                <div class="mb-4">
                    <h5 class="fw-bold mb-3">Follow us</h5>
                    <div class="d-flex gap-3 mb-4" id="SocialMedia">
                        <a href="#" class="text-white">
                            <img src="https://rails-assets-us.bookshop.org/assets/icon-x-06f2c6421bcff972e6d6da324504104da14c947623f367be696d63f47a0ea451.svg" 
                                alt="X" class="img-fluid" width="24">
                        </a>
                        <a href="#" class="text-white">
                            <img src="https://rails-assets-us.bookshop.org/assets/icon-facebook-573255ba1a893bcc1b0e26d5bb3d26e29950e72079360d7b58e6ca1aa628757c.svg" 
                                alt="Facebook" class="img-fluid" width="24">
                        </a>
                        <a href="#" class="text-white">
                            <img src="https://rails-assets-us.bookshop.org/assets/icon-instagram-015ea6b8500fb243a606a5117772f949603f9d035d5ab677b7d24a6f379e3cbe.svg" 
                                alt="Instagram" class="img-fluid" width="24">
                        </a>
                        <a href="#" class="text-white">
                            <img src="https://rails-assets-us.bookshop.org/assets/icon-threads-eaa5b4d30197b051e856f3476f6280ad90f0a34ec53cc090da4824a7f34713c8.svg" 
                                alt="Threads" class="img-fluid" width="24">
                        </a>
                        <a href="#" class="text-white">
                            <img src="https://rails-assets-us.bookshop.org/assets/icon-tiktok-f258edd439a6a0ff0def1987359fab63825f9204e5cc105aad9ec2f4e731340a.svg" 
                                alt="TikTok" class="img-fluid" width="24">
                        </a>
                    </div>
                </div>
                
                <div class="mb-4">
                    <h5 class="fw-bold mb-3">Payment Options</h5>
                    <div id="payment">
                        <img src="https://rails-assets-us.bookshop.org/assets/payment_methods-a0a4f59e2dde1469a5f84fa9a6462171db755cdb0dcdf8ce8bd2dc8ecb6fa03f.png"
                            alt="Payment methods" class="img-fluid" style="max-width: 250px;">
                    </div>
                </div>
                
                <div class="mb-4">
                    <div id="certified">
                        <img src="https://rails-assets-us.bookshop.org/assets/bcorp_logo-dbd633d3bd3540edec0d2271427738792bd79e1aae13585deec0b658d29ddc08.png"
                            alt="B Corp Certified" class="img-fluid" style="max-width: 120px;">
                    </div>
                </div>
            </div>

            <!-- Links -->
            <div class="col-lg-6">
                <div class="row g-4">
                    <div class="col-md-4">
                        <h5 class="fw-bold mb-3">About</h5>
                        <ul class="list-unstyled">
                            <li class="mb-2"><a href="#" class="text-decoration-none text-white-50 hover-text-white">About our BookShop</a></li>
                            <li class="mb-2"><a href="#" class="text-decoration-none text-white-50 hover-text-white">Meet Our Team</a></li>
                            <li class="mb-2"><a href="#" class="text-decoration-none text-white-50 hover-text-white">FAQ</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5 class="fw-bold mb-3">Contact</h5>
                        <ul class="list-unstyled">
                            <li class="mb-2"><a href="mailto:BookShop@email.com" class="text-decoration-none text-white-50 hover-text-white">BookShop@email.com</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5 class="fw-bold mb-3">Support</h5>
                        <ul class="list-unstyled">
                            <li class="mb-2"><a href="#" class="text-decoration-none text-white-50 hover-text-white">Privacy Policy</a></li>
                            <li class="mb-2"><a href="#" class="text-decoration-none text-white-50 hover-text-white">Terms</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Copyright -->
        <div class="border-top border-secondary mt-4 pt-4 text-center">
            <p class="m-0">© BookShop 2025 All Rights Reserved</p>
        </div>
    </div>
</footer>

<style>
    .hover-text-white:hover {
        color: white !important;
        transition: color 0.3s ease;
    }
</style>