<footer class="container-fluid text-white">
    <div class="row text-center">

        <!-- Social Media and Payments -->
        <div class="col-md-6 mt-3">

            <div class="text-center">
                <p>Follow us</p>
                <div class="d-flex justify-content-center gap-3" id="SocialMedia">
                    <img src="https://rails-assets-us.bookshop.org/assets/icon-x-06f2c6421bcff972e6d6da324504104da14c947623f367be696d63f47a0ea451.svg"
                         alt="" class="img-fluid" width="30">
                    <img src="https://rails-assets-us.bookshop.org/assets/icon-facebook-573255ba1a893bcc1b0e26d5bb3d26e29950e72079360d7b58e6ca1aa628757c.svg"
                         alt="" class="img-fluid" width="30">
                    <img src="https://rails-assets-us.bookshop.org/assets/icon-instagram-015ea6b8500fb243a606a5117772f949603f9d035d5ab677b7d24a6f379e3cbe.svg"
                         alt="" class="img-fluid" width="30">
                    <img src="https://rails-assets-us.bookshop.org/assets/icon-threads-eaa5b4d30197b051e856f3476f6280ad90f0a34ec53cc090da4824a7f34713c8.svg"
                         alt="" class="img-fluid" width="30">
                    <img src="https://rails-assets-us.bookshop.org/assets/icon-tiktok-f258edd439a6a0ff0def1987359fab63825f9204e5cc105aad9ec2f4e731340a.svg"
                         alt="" class="img-fluid" width="30">
                </div>
                <p class="mt-3">Payment</p>
                <div id="payment">
                    <img src="https://rails-assets-us.bookshop.org/assets/payment_methods-a0a4f59e2dde1469a5f84fa9a6462171db755cdb0dcdf8ce8bd2dc8ecb6fa03f.png"
                         alt="" class="img-fluid">
                </div>
                <div id="certified" class="mt-3">
                    <img src="https://rails-assets-us.bookshop.org/assets/bcorp_logo-dbd633d3bd3540edec0d2271427738792bd79e1aae13585deec0b658d29ddc08.png"
                         alt="" class="img-fluid">
                </div>
            </div>
        </div>

        <div class="col-md-6 mt-3">
            <div class="text-center fs-6">
                <div class="row">
                <div class="col-md-4">
                 <h4>About</h4>
                 <p>About our BookShop</p>
                 <p>Meet Our Team</p>
                 <p>FQA</p>
                </div>
                <div class="col-md-4">
                    <h4>Contact</h4>
                    <p>BookShop@email.com</p>
                </div>
                <div class="col-md-4">
                    <h4>Support</h4>
                    <p>Privacy Policy</p>
                    <p>Terms</p>
                </div>
            </div>

            </div>
        </div>

        <div class="m-0 p-0 text-lg-center ms-4"><h4>&#169 BookShop 2025 All Rights Reserved</h4></div>

    </div>
</footer>
